input[type="button"]{
    width:100%;
    padding:20px 40px;
    background-color: rgb(167, 167, 227);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size:24px;
}
input[type="text"]{
    width:100%;
    padding:20px 30px;
    font-size:24px;
    font-weight: bold;
    border-radius:5px;
}
table{
    border:1px solid-black;
    margin-left: auto;
    margin-right: auto;
}
h1{
color:red;
margin-left:40%;
margin-right:auto;
font-size:50px;
margin-top:5%
}
body{
    background-image: url('calculator.jpeg');
}